@charset "ISO-8859-1";
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
div.three-columns {
    display: table;
    width: 100%;
    border-collapse: collapse; /* Prevent spaces between cells */
}
div.three-columns > .column {
    display: table-cell;
    width: 33.33%;
    border-left: collapse;
}
div.three-columns > .column:first-child {
    /* Since we only want borders between the elements, remove the leftmost border */
    border-left: none; 
}